__pycache__/
*.pyc
*.ipynb_checkpoints
*.h5
*.pkl

BURST/
BURST-benchmark/
data/
detectron2-OWT/
other/
PROB/
PROB-orig/
ByteTrack/build/
ByteTrack/tracking_results/
ByteTrack/pretrained/
ByteTrack/YOLOX_outputs/
Hyp-OW/exps/
sam2/checkpoints/
OOD/detections/